.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

.nav-links{
    padding: 0px 20px;
}

.nav-links>.ul{
    display: flex;
    font-size: large;
    list-style-type: none;
}

.nav-links>ul>li{
    margin: 10px;
    padding: 10px;
}

/* Rescard.css */

.res-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .res-card:hover {
    transform: translateY(-5px);
  }
  
  .res-img img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .data {
    margin-top: 15px;
  }
  
  .name {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .cuisines {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
  }
  
  .stars {
    font-size: 1.2rem;
    color: #ffc107; /* Yellow color for stars */
    margin-bottom: 5px;
  }
  
  .cost {
    font-size: 1.2rem;
    color: #333;
  }
  
  .d-time {
    font-size: 1rem;
    color: #555;
  }
  
  

